.carousel .carousel-item {
  height: 10%;
  padding: 10%;
  width: inherit;
}

.carousel-item img {
  top: 0;
  left: 0;
  height: 18rem;
  width: fit-content;
  margin: 0px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}
.texto {
  color: royalblue;
  font-size: x-large;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
