body {
  background-image: url("https://images.pexels.com/photos/1787035/pexels-photo-1787035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center; /* optional, center the image */
}

.gh {
  color: khaki;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
}

.segs {
  color: navajowhite;
  text-align: center;
}
